@model Parcus.Web.Models.UsersViewModel;

@{
}
<div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Cписок пользователей</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="~/admin/index">Главная</a></li>
                      <li class="breadcrumb-item active">Пользователи</li>
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
</div>
<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Пользователи</h3>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" >
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Имя пользователя</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody> 
                        @foreach (var user in Model.Users)
                        {
                        
                        <tr>
                            <td>
                                @user.UserId
                            </td>
                            <td>
                                <a href="~/admin/users/profile/@user.UserId"
                                    class="">
                                    @user.UserName
                                </a>
                            </td>
                            <td>
                                @user.Email
                            </td>
                        </tr>
                        }       
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
    </div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a href="~/admin/Users/Index?PageNumber=@(Model.PageViewModel.PageNumber - 1)"
       style="margin-top: 10px"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
        int marginLeft = 0;
        if (Model.PageViewModel.HasPreviousPage)
            marginLeft = 10;

        <a href="~/admin/Users/Index?pagenumber=@(Model.PageViewModel.PageNumber + 1)"
       style="margin-left: @(marginLeft)px;margin-top: 10px"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
            <!-- /.card -->
</div>

        