@model Parcus.Api.Models.UsersViewModel;

@{
}

<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Пользователи</h3>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" >
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Имя пользователя</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr><td>@user.UserId</td><td>@user.UserName</td><td>@user.Email</td></tr>
                        }       
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
    </div>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a href="~/Users/Index?PageNumber=@(Model.PageViewModel.PageNumber - 1)"
       
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a href="~/Users/Index?pagenumber=@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
            <!-- /.card -->
</div>

        